@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --body: linear-gradient(to right top, #000b1c, #05081b, #0b051a, #0f0318, #130015);
    --white: #e5e5e5;
    --social: rgba(255,255,255,0.06);
    --social-hover: rgba(255,255,255,0.12);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--body);
}

.freitas {
    display: inline-block;
    position: relative;
}

.freitas::after {
    content: '';
    display: block;
    background: var(--white);
    height: 2px;
    width: 15%;
    position: absolute;
    bottom: 0;
    right: -15px;
    animation: piscar 1500ms ease-in-out infinite;
}

.social {
    background: var(--social);
}

.social:hover {
    background: var(--social-hover);
}

@keyframes piscar {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.tooltip {
    position: absolute;
    background: #000;
    color: var(--white);
    padding: 4px 8px;
    font-size: 12px;
    width: 15%;
    border-radius: 10px;
    pointer-events: none;
}

@media (max-width: 768px) {
    .tooltip {
       display: none;
    }
}